<!-- Player Profiles -->
<app-players></app-players>

<!-- Game -->
<section class="game card mx-auto fs-4 shadow-sm bg-light-subtle border">
  <div class="word">
    <span id="word">{{ word | uppercase }}</span>
    <span id="cursor" class="ms-2 p-2"
      [ngClass]="{'badge bg-primary bg-gradient shadow-lg fs-4 fw-medium ': cursor !== cursorDefault}">{{cursor}}
    </span>
  </div>
</section>

<!-- Interaction Zone -->

<div class="interaction-zone d-flex flex-column align-items-center">

  <!-- Challenge Btn -->
  <button class="btn btn-danger fs-5" style="width: 360px;">
    !!&nbsp;&nbsp;&nbsp;CHALLENGE&nbsp;&nbsp;&nbsp;!!
  </button>

  <!-- Cards -->

  <!-- Keyboard -->
  <app-keyboard></app-keyboard>

</div>
