<div class="d-flex flex-column align-items-center">
  <div class="d-flex flex-row">
    <button
      class="btn btn-sm btn-light border-secondary"
      *ngFor="let key of keys[0]"
      (click)="onKeyClick(key)"
    >
      {{ key }}
    </button>
  </div>
  <div class="d-flex flex-row">
    <button
      class="btn btn-sm btn-light border-secondary"
      *ngFor="let key of keys[1]"
      (click)="onKeyClick(key)"
    >
      {{ key }}
    </button>
  </div>
  <div class="d-flex flex-row">
    <button
      class="btn btn-sm btn-light border-secondary"
      *ngFor="let key of keys[2]"
      (click)="onKeyClick(key)"
    >
      {{ key }}
    </button>
  </div>
</div>
